@media only screen and (min-width: 980px) {
    body {
        -moz-user-select: none;
        user-select: none;
        background: url(style/img/login.jpg) no-repeat;
        background-size: cover;
        height: 100%;
        background-position: top center;
        overflow: hidden;
    }
}

